name: Go

on: [push]

jobs:
  build:
    runs-on: ubuntu-slim

    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.49

    - name: Build
      run: go build ./...

    - name: Test
      run: go test -race -failfast -timeout 60s ./...
